<div class="container">
  <div class="left">
    <div class="left-top">
      <a href=""><img src="../../../assets/images/people.png" alt=""></a>
    </div>
    <div class="left-bottom">
      <p>yourName</p>
      <p><span>0</span><span class="one">1</span></p>
      <p><span>粉丝</span><span class="one">关注</span></p>
      <hr>
      <ul>
        <li>任务 <span>></span></li>
        <li>同步课 <span>></span></li>
        <li>课程 <span>></span></li>
        <li>且说 <span>></span></li>
        <li>通知 <span>></span></li>
      </ul>
    </div>
  </div>
  <div class="right">
    <div class="right-top">
        <div class="tasks">
            <ul>
              <li>未提交</li>
              <li>已完成</li>
              <li>已完結</li>
            </ul>
        </div>
        <div class="search">
            <div class="input-group">
                <input type="text" placeholder="搜索课程、问答" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" id="btn" type="button">
                        <i class="iconfont icon-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="right-bottom">

    </div>
  </div>
</div>
